.tile {
        width: 70px;
        height: 70px;
        border: 2px solid white;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 36px;
        background-color:black;
        box-shadow: rgb(128, 128, 128) 5px 5px;
        user-select: none;
      }
